:root {
    --red-button: #cc1d0698;
    --button-hover: #FFFFFF;
    --border: #000 solid 3px;
    --outline: rgb(209, 209, 209) solid 1.5px;
    font-size: 62.5%;
}


input[type="checkbox"] {
    appearance: checkbox;
}

input[type="radio"] {
    appearance: radio;
}

@font-face {
    font-family: UnifrakturCook-bold;
    src: url(../fonts/UnifrakturCook-Bold.ttf);
}

body {
    background-color: #2c2c2c;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/facebook-color.png), url(../img/instagram-color.png), url(../img/discord-color.png);
}

/* width */
::-webkit-scrollbar {
    width: 1.2rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-track-piece {
    background: #222222;
  }

  ::-webkit-scrollbar-corner {
    background: #555;
  }

.wrapper-main {
    width: 110.0rem;
    margin: 0 auto;
}

a {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 700;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.5;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.8rem;
    line-height: 1.75;
    font-weight: 500;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.6rem;
    line-height: 1.75;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.4rem;
    line-height: 1.75;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.4rem;
    line-height: 1.75;
    font-weight: 100;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.6rem;
    line-height: 1.75;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.6rem;
    line-height: 1.75;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.6rem;
    line-height: 1.75;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.4rem;
    line-height: 1.75;
    font-weight: 100;
}

/*@media only screen and (min-width: 601px) {

    .wrapper-main {
        width: 100%;
    }

}*/

/*@media only screen and (min-width: 768px) {

    .wrapper-main {
        width: 100%;
    }

}*/

/*@media only screen and (min-width: 950px) {

    .wrapper-main {
        width: 100%;
    }

}*/

/*@media only screen and (min-width: 992px) {

    .wrapper-main {
        width: 100%;
    }

}*/

/*@media only screen and (min-width: 1200px) {

    .wrapper-main {
        width: 100%;
    }

}*/
