.signup-transparent-box {
    width: 95.0rem;
    height: 55.0rem;
    border: var(--border);
    border-radius: 2.0rem;
    background-color: rgba(51, 46, 48, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 50;
    transform: translateY(-9.8rem)
}

.signup-box-upper {
    width: 100%;
    height: 10.0rem;
    border-bottom: var(--border);
    line-height: 1.6;
    padding: 1.2rem 1.2rem;
    text-align: center;
}

.signup-box-lower {
    border-radius: 4.0rem;
    z-index: 50;
    height: 40.0rem;
    width: 65.0rem;
    border: none;
    display: flex;
    flex-direction: column;
}

.signup-box-lower label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    margin-left: 80px;
    margin-top: auto;
}

.signup-box-lower label a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1.6rem;
}

.signup-box-lower input:focus {
    outline: var(--outline);
}


.signup-input {
    transform: translate(253px, -26px);
}

input[class=signup-input] {
    width: 47%;
    height: 2.0rem;
    border-radius: .4rem;
    padding: .1rem .1rem;
    margin: 0rem 0rem;
    border: 1px solid #ccc;
    box-sizing:content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.signup-submit {
    background-color: #04AA6D;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    width: 100px;
    margin-left: 80px;
    margin-bottom: 10px;
}
  
/* When moving the mouse over the submit button, add a darker green color */
.signup-submit:hover {
    background-color: #45a049;
}

/* Mobile Version (portrait) */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    .signup-transparent-box {
        width: 35.0rem;
        height: 60.0rem;
        transform: translateY(-90px);
    }

    .signup-box-upper {
        display: none;
    }
    
    .signup-box-lower {
        border-radius: 0px;
        height: 56.0rem;
        width: 35.0rem;
        border: 0px;
    }
    
    .signup-box-lower label {
        margin-left: 10px;
        margin-top: auto;
    }
    
    .signup-box-lower input:focus {
        outline: var(--outline);
    }
    
    
    .signup-input {
        transform: translate(166px, -26px);
    }
    
    .signup-submit {
        margin-left: 10px;
        margin-bottom: 10px;
    }
      
}

/* Mobile Version (landscape) */
@media only screen and (max-width: 950px) and (orientation: landscape) {

    .signup-transparent-box {
        width: 65.0rem;
    }
}
